input {
  padding: 15px;
  font-size: 1.3em;
}

.sub {
  font-size: 1.3em;
}

label {
  color: black;
}
#login,
#register {
  background: url(../../../../assets/img/bg.jpg) no-repeat top center fixed/cover !important;
  min-height: 80vh !important;
}